body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  background-color: #007bff;
  color: white;
  padding: 10px 0;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

label {
  margin: 0 10px;
}

select {
  padding: 5px;
  margin: 0 10px;
}

#availability {
  margin: 20px auto;
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.form-container {
  margin: 20px auto;
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"],
input[type="tel"] {
  width: 95%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.cancel-btn {
  background-color: #dc3545;
}

.btn:hover {
  background-color: #218838;
}

.cancel-btn:hover {
  background-color: #c82333;
}

.room-info {
  cursor: pointer;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.room-info:hover {
  background-color: #007bff;
  color: white;
}
